@media screen and (max-width: 810px) {
  header {
    justify-content: space-between;
    padding-inline: 10px;
  }

  main h1, main h1 span {
    font-size: 1.5rem;
  }

  main h2 {
    font-size: 2.5rem;
  }

  main p {
    font-size: 14px;
  }

  section.skils .about .sec h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 551px) {
  main h2 {
    font-size: 2rem;
  }

  section.skils .about .sec {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 415px) {
  header div h2 {
    font-size: 1.25rem;
  }

  header div img {
    width: 40px;
  }
  
  header i {
    font-size: 2rem;
  }

  main h1, main h1 span {
    font-size: 1.25rem;
  }

  main h2 {
    font-size: 1.5rem;
  }

  main p {
    font-size: 10px;
  }
}