@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-background: #222831;
  --color-on-background: #393e46;
  /* --color-pri: #89cff0; */
  --color-pri: #fd7014;
  --color-txt: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-txt);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header div img {
  width: 50px;
}

header div h2 {
  font-size: 2rem;
  color: var(--color-pri);
  cursor: pointer;
}

header i {
  font-size: 3rem;
}

main {
  height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  z-index: -10;
}

main h1,
main span {
  font-size: 2rem;
  margin-bottom: 20px;
}

main h1 span {
  color: var(--color-pri);
  text-decoration: underline;
}

main h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

main p {
  color: #ccc;
  margin-bottom: 80px;
}

main img {
  width: 200px;
}

section.skils {
  margin-top: 90dvh;
  height: 100dvh;
  background-color: #e2e2e2;
  padding-block: 50px;
}

section * {
  color: var(--color-background);
}

.wraper {
  width: 80vw;
  margin: 0 auto;
}

.sec-title {
  color: hsl(0, 2%, 30%);
  margin-bottom: 20px;
}

section.skils .about {
  display: flex;
  height: 80dvh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

section.skils .about .sec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.skils .about .sec h2 {
  font-size: 3rem;
}

section.skils .about .sec p {
  width: 300px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-background);
}

section.projects {
  /* height: 100dvh; */
  background-color: #e2e2e2;
  padding-block: 50px;
}

section.projects h2 {
  text-align: center;
}

section.projects .prj-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

section.projects .prj img {
  width: 300px;
}

section.projects .prj {
  transition: all 0.3s ease;
}

section.projects .prj:hover {
  transform: scale(105%, 105%);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
